{% extends 'dashboard/main.html' %}

{% block content %}

<br/>
<br/>

<div class="container">

    {% comment %} stat cards {% endcomment %}

    <div class="row">
        <div class="col-sm-6">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title">Overall Applications</h5>
              <p class="card-text">{{overall_applications}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title">In Progress</h5>
              <p class="card-text">{{progress_applications}}</p>
            </div>
          </div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-sm-12">
          <div class="card custom-card">
            <div class="card-body">
              <form method="get">

                <div class="row" style="display: flex; align-items: center;">
                    <div class="col-xs-12 col-sm-1" style="margin-right:10px;">
                        <p>Status</p>{{listFilter.form.status}}
                    </div>

                    <div class="col-xs-12 col-sm-2" style="margin-right:10px;">
                        <p>min date</p>{{listFilter.form.duration_min}}
                    </div>

                    <div class="col-xs-12 col-sm-2" style="margin-right:10px;">
                        <p>max date</p>{{listFilter.form.duration_max}}
                    </div>
                    <div class="col-xs-12 col-sm-2" style="margin-right:10px;">
                        <p>Company Name</p>{{listFilter.form.company_name}}
                    </div>
                    <div class="col-xs-12 col-sm-2" style="margin-right:10px;">
                        <p>Job Title</p>{{listFilter.form.job_title}}
                    </div>
                    <div class="col-xs-12 col-sm-3" style="margin-right:0px;">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
    </div>

    <br/>
    <br/>

    {% comment %} <div class="row">
        <div class="col-sm-12">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title">Search</h5>
                <form method="get">
                    {{ listFilter.form }}
                    <button class="btn btn-primary ml-2" type="submit">Search</button>
                </form>
            
            </div>
          </div>
        </div>
    </div> {% endcomment %}

    {% comment %} <br/>
    <br/> {% endcomment %}

    {% comment %} main list  {% endcomment %}

    <div class="card custom-card">
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        {% comment %} <th scope="col">#</th> {% endcomment %}
                        <th scope="col">Status</th>
                        <th scope="col">Applied Date</th>
                        <th scope="col">Company</th>
                        <th scope="col">Job Title</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <form method="POST", action="/">
                    {% csrf_token %}
                    <thead>
                        <tr>
                            {% comment %} <th scope="col">+</th> {% endcomment %}
                            <th scope="col">
                                {{form.status}}
                            </th>
                            <th scope="col">
                                {{form.applied_date}}
                            </th>
                            <th scope="col">
                                {{form.company_name}}
                            </th>
                            <th scope="col">
                                {{form.job_title}}
                            </th>
                            <th scope="col"></th>
                            <th scope="col">
                                <input type="submit" name="mainjoblist"> 
                            </th>
                        </tr>
                    </thead>
                </form>


                {% for item in list %}
                    <tbody>
                        <tr>
                            {% comment %} <th scope="row">{{item.id}}</th> {% endcomment %}
                            <td>{{item.status}}</td>
                            <td>{{item.applied_date}}</td>
                            <td>{{item.company_name}}</td>
                            <td>{{item.job_title}}</td>
                            <td><a href="{% url 'update_list' item.id %}"><i class="fa-solid fa-pen-to-square" style="color: #6e6e6e;"></i></a></td>
                            <td><a href="{% url 'delete_list' item.id %}"><i class="fa-solid fa-trash-can" style="color: #6e6e6e;"></i></a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>




{% endblock %}


