{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="backgroundcolor:#55AD9B">
    <img src="{% static 'images/logo_dark.png' %}" width="80" height="80" alt="Logo"><br>
    <h3 style="color:#EEE9DA; text-indent: 50px;">Job Applications Tracker</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="" style="color:#EEE9DA; text-indent: 50px;">Dashboard <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#" style="color:#EEE9DA;">Report</a>
      </div>
    </div>
  </nav>