<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="backgroundcolor:#55AD9B">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    <h3>Job Applications Tracker</h3>
    <br/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="">Dashboard <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Stats</a>
      </div>
    </div>
  </nav>